/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/pointing.h>

/ {
    behaviors {
        lhomehol: lhomehol {
            compatible = "zmk,behavior-hold-tap";
            label = "LHOMEHOL";
            bindings = <&kp>, <&kp>;

            #binding-cells = <2>;
            tapping-term-ms = <200>;
            flavor = "hold-preferred";
            hold-while-undecided;
            hold-trigger-on-release;
            hold-trigger-key-positions = <6 7 8 9 10 11 18 19 20 21 22 23 30 31 32 33 34 35 39 40 41>;
        };

        rhomehol: rhomehol {
            compatible = "zmk,behavior-hold-tap";
            label = "RHOMEHOL";
            bindings = <&kp>, <&kp>;

            #binding-cells = <2>;
            tapping-term-ms = <200>;
            flavor = "hold-preferred";
            hold-while-undecided;
            hold-trigger-on-release;
            hold-trigger-key-positions = <0 1 2 3 4 5 12 13 14 15 16 17 24 25 26 27 28 29 36 37 38>;
        };

        lhometap: lhometap {
            compatible = "zmk,behavior-hold-tap";
            label = "LHOMETAP";
            bindings = <&kp>, <&kp>;

            #binding-cells = <2>;
            tapping-term-ms = <200>;
            flavor = "tap-preferred";
            hold-while-undecided;
            hold-trigger-on-release;
            hold-trigger-key-positions = <6 7 8 9 10 11 18 19 20 21 22 23 30 31 32 33 34 35 39 40 41>;
        };

        rhometap: rhometap {
            compatible = "zmk,behavior-hold-tap";
            label = "RHOMETAP";
            bindings = <&kp>, <&kp>;

            #binding-cells = <2>;
            tapping-term-ms = <200>;
            flavor = "tap-preferred";
            hold-while-undecided;
            hold-trigger-on-release;
            hold-trigger-key-positions = <0 1 2 3 4 5 12 13 14 15 16 17 24 25 26 27 28 29 36 37 38>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            // -----------------------------------------------------------------------------------------
            // |  TAB |  Q  |  W  |  E  |  R  |  T  |   |  Y  |  U   |  I  |  O  |  P  | BKSP |
            // | CTRL |  A  |  S  |  D  |  F  |  G  |   |  H  |  J   |  K  |  L  |  ;  |  '   |
            // | SHFT |  Z  |  X  |  C  |  V  |  B  |   |  N  |  M   |  ,  |  .  |  /  | ESC  |
            //                    | GUI | LWR | SPC |   | ENT | RSE  | ALT |

            display-name = "Base";
            bindings = <
&kp TAB   &kp V             &kp M             &kp L              &kp C                   &kp P    &kp X    &kp F               &kp O              &kp U             &kp J                  &kp BSPC
&kp ESC   &lhometap LGUI S  &lhometap LALT T  &lhometap LCTRL R  &lhomehol LEFT_SHIFT D  &kp Y    &kp DOT  &rhomehol RSHIFT N  &lhometap RCTRL A  &rhometap RALT E  &rhometap RIGHT_GUI I  &kp ENTER
&sk LGUI  &kp Z             &kp K             &kp Q              &kp G                   &kp W    &kp B    &kp H               &kp SQT            &kp SEMICOLON     &kp COMMA              &sk RALT
                                              &none              &lt 4 SPACE             &mo 1    &mo 2    &kp SPACE           &none
            >;
        };

        nums {
            display-name = "nums";
            bindings = <
&trans  &kp V             &kp M             &kp L              &kp C                   &kp P     &kp EQUAL  &kp N1               &kp N2              &kp N3                   &none                      &trans
&trans  &lhometap LGUI S  &lhometap LALT T  &lhometap LCTRL R  &lhomehol LEFT_SHIFT D  &kp Y     &kp N0     &rhomehol RSHIFT N4  &lhometap RCTRL N5  &rhometap RALT NUMBER_6  &rhometap RIGHT_GUI CARET  &trans
&trans  &kp Z             &kp K             &kp Q              &kp G                   &kp W     &kp MINUS  &kp N7               &kp N8              &kp N9                   &none                      &trans
                                            &trans             &kp SPACE               &trans    &mo 3      &trans               &trans
            >;
        };

        sym {
            display-name = "sym";
            bindings = <
&trans  &kp GRAVE            &kp LT               &kp GREATER_THAN       &kp MINUS                   &kp PIPE         &kp DQT    &kp LBRC               &kp RBRC              &kp DLLR             &kp HASH                &trans
&trans  &lhometap LGUI EXCL  &lhometap LALT STAR  &lhometap LCTRL SLASH  &lhomehol LEFT_SHIFT EQUAL  &kp AMPERSAND    &kp COLON  &rhomehol RSHIFT LPAR  &lhometap RCTRL RPAR  &rhometap RALT SEMI  &rhometap RIGHT_GUI AT  &trans
&trans  &kp TILDE            &kp PLUS             &kp BSLH               &kp UNDER                   &kp PRCNT        &kp SQT    &kp LBKT               &kp RBKT              &kp CARET            &kp COMMA               &trans
                                                  &trans                 &kp SPACE                   &mo 3            &trans     &trans                 &trans
            >;
        };

        sys {
            display-name = "sys";
            bindings = <
&trans  &bootloader       &sys_reset        &kp L              &kp C                   &kp P     &kp X    &kp F               &kp O              &kp U             &kp J                  &trans
&trans  &lhometap LGUI S  &lhometap LALT T  &lhometap LCTRL R  &lhomehol LEFT_SHIFT D  &kp Y     &kp DOT  &rhomehol RSHIFT N  &lhometap RCTRL A  &rhometap RALT E  &rhometap RIGHT_GUI I  &trans
&trans  &kp Z             &kp K             &kp Q              &kp G                   &kp W     &kp B    &kp H               &kp SQT            &kp SEMICOLON     &kp COMMA              &trans
                                            &trans             &kp SPACE               &trans    &trans   &trans              &trans
            >;
        };

        moves {
            // -----------------------------------------------------------------------------------------
            // |  TAB |  1  |  2  |  3  |  4  |  5  |   |  6  |  7  |  8  |  9  |  0  | BKSP |
            // | BTCLR| BT1 | BT2 | BT3 | BT4 | BT5 |   | LFT | DWN |  UP | RGT |     |      |
            // | SHFT |     |     |     |     |     |   |     |     |     |     |     |      |
            //                    | GUI |     | SPC |   | ENT |     | ALT |

            display-name = "moves";
            bindings = <
&trans      &kp F1          &kp F2          &kp F3        &kp F4           &kp F5          &kp F6          &kp F7          &kp F8        &kp F9           &kp F10  &kp F11
&trans      &msc SCRL_LEFT  &msc SCRL_DOWN  &msc SCRL_UP  &msc SCRL_RIGHT  &none           &kp LEFT        &kp DOWN        &kp UP        &kp RIGHT        &none    &kp F12
&bt BT_CLR  &bt BT_SEL 0    &bt BT_SEL 1    &bt BT_SEL 2  &bt BT_SEL 3     &bt BT_SEL 4    &mmv MOVE_LEFT  &mmv MOVE_DOWN  &mmv MOVE_UP  &mmv MOVE_RIGHT  &none    &trans
                                            &none         &trans           &none           &mkp LCLK       &mkp RCLK       &mkp MCLK
            >;
        };
    };
};
